/*GLOBAL COLORS */
$color1: rgb(34, 129, 184);
$color2: #001f3f;
$color3: rgb(148, 182, 245);
.ezwork-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-bottom: rgb(146, 145, 145) 3px solid;
  background-color: lightskyblue;
  .ezwork-header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    background-color: rgba($color: $color2, $alpha: 0.9);
    .logo {
      width: 100%;
      margin-left: 1rem;
      h2 {
        font-family: "Archivo Black", sans-serif;
        a {
          text-decoration: none;
          color: white;
        }
        font-size: 2.3rem;
      }
      span {
        color: $color3;
      }
      a:hover {
        transition: all 0.7s ease-in-out;
        color: $color3;
        span {
          transition: all 0.7s ease-in-out;
          color: white;
        }
      }
    }
    /* header profile section */
    .profile-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin: 0rem 2rem;
      .profile-image {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        border: white 3px solid;
        border-radius: 50%;
        position: relative;
        display: inline-block;
        img {
          border-radius: 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .profile-image:hover {
        transition: all 1.3s ease;
        border: $color1 3px solid;
      }
      .user-type {
        margin-right: 1rem;
        h3 {
          a {
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: lighter;
            color: white;
            &:hover {
              color: $color3;
            }
          }
          font-size: 1.2rem;
          font-weight: lighter;
          color: white;
        }
      }
    }
  } /*Ends header css*/
  h3 {
    width: 100%;
    text-align: center;
  }
  .search-section {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    input {
      width: 40%;
      padding: 1rem;
      height: 3rem;
      border: none;
      color: $color2;
      font-size: 1.5rem;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    button {
      min-width: 10%;
      cursor: pointer;
      height: 3rem;
      background: $color2;
      color: white;
      border: none;
      font-size: 1.2rem;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    button:hover {
      transition: all 1.2s ease-in-out;
      min-width: 10%;
      border: $color2 2px solid;
      cursor: pointer;
      height: 3rem;
      background: white;
      color: $color2;
      border: none;
      font-size: 1.2rem;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
  .categories-section {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    background-color: rgba($color: $color2, $alpha: 0.1);
    .categories {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      text-align: center;
    }
    .category {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0.5rem;
      margin: 0.5rem;
      color: white;
      font-size: 1rem;
      background-color: $color2;
      border-radius: 5px;
    }
  }
  .shareJob {
    width: 100%;
    background: rgba($color: $color1, $alpha: 0.9);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h2 {
      font-size: 3.5rem;
      color: white;
      text-decoration: underline;
    }
    p {
      font-size: 1.3rem;
    }
    button {
      background: $color2;
      height: fit-content;
      min-width: 20%;
      border-radius: 15px;
      border: none;
      padding: 1rem;
      margin: 1rem;
      font-size: 1.5rem;
      color: white;
      cursor: pointer;
      &:hover {
        color: $color3;
      }
    }
  }
  .post {
    padding: 3rem;
    margin: 3rem;
    background: white;
    h2 {
      color: black;
      font-size: 2rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .ezwork-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .ezwork-header {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      padding: 0.5rem;
      background-color: rgba($color: $color2, $alpha: 0.9);
      .logo {
        width: 100%;
        h2 {
          font-size: 2rem;
        }
      }
      /* header profile section */
      .profile-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .profile-image {
          width: 3rem;
          height: 3rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .user-type {
          h3 {
            font-size: 1rem;
          }
        }
      }
    } /*Ends header css*/
    h3 {
      width: 100%;
    }
    .search-section {
      padding: 2rem;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      input {
        width: 60%;
        padding: 1rem;
        height: 3rem;
        color: $color2;
        border-radius: 0;
        font-size: 1rem;
      }
      input[type="search"] {
        -webkit-appearance: none;
      }
      button {
        min-width: 10%;
        cursor: pointer;
        height: 3rem;
        border-radius: 0;
        background: $color2;
        color: white;
        font-size: 1.2rem;
      }
      button:hover {
        transition: all 1.2s ease-in-out;
        min-width: 10%;
        border: $color2 2px solid;
        cursor: pointer;
        height: 3rem;
        border-radius: 0;
        background: white;
        color: $color2;
        font-size: 1.2rem;
      }
    }
    .categories-section {
      display: flex;
      width: 100%;
      height: fit-content;
      padding: 0.5rem;
      .categories {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
      }
      .category {
        margin: 0.2rem;
        font-size: 1rem;
        padding: 0.3rem;
      }
    }
  }
}
