$color1: rgb(34, 149, 184);
$color2: #001f3f;
$color3: rgb(148, 182, 245);
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin-top: 2rem;
  /*TEXT*/
  color: white;
  background: $color2;
  font-size: 0.8rem;
}
