footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  margin-top: 2rem;
  /*TEXT*/
  color: white;
  background: rgb(34, 183, 184);
  background: linear-gradient(
    0deg,
    rgba(34, 183, 184, 1) 0%,
    rgba(153, 253, 45, 1) 90%
  );
}
