#choosenSkill {
  display: flex;
}
.postJob-detail {
  margin-top: 4.5rem;
  width: 100%;
  background: whitesmoke;
  padding: 2.5rem 10rem;

  .detail-container {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: row;
    border: 1.25px solid lightgrey;
    border-radius: 15px;
    background: white;

    .detail-progress-section {
      width: 50%;
      height: 100%;
      padding: 1.5rem;
      background: $color1;
      display: flex;
      flex-direction: column;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      #current {
        color: lightgreen;
      }
      .progressBar {
        width: 100%;
        progress {
          border-radius: 10px;
          width: 100%;
          padding: 0;
          border: none;
          background: #104880;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        progress::-webkit-progress-bar {
          border-radius: 10px;
          width: 100%;
          padding: 0;
          border: none;
          background: #104880;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        progress::-moz-progress-bar {
          border-radius: 10px;
          width: 100%;
          padding: 0;
          border: none;
          background: #104880;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        progress::-webkit-progress-value {
          background: lightgreen;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          height: 100%;
          border: none;
        }
        progress::-moz-progress-bar {
          background: lightgreen;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          height: 100%;
          border: none;
        }
        ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-top: 0.3rem;
          li {
            color: white;
            font-size: 0.9rem;
          }
        }
      }
      .title-card-intro {
        h2 {
          padding: 6rem 0rem 1rem 0rem;
          color: white;
          font-size: 2.3rem;
        }
        p {
          color: white;
          font-size: 0.95rem;
        }
      }
    }
    .detail-input-section {
      width: 50%;
      height: 100%;
      padding: 2rem;
      background: white;
      display: flex;
      flex-direction: column;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      justify-content: center;
      align-items: flex-start;
      h3 {
        font-size: 1.3rem;
        padding: 1rem 0rem;
      }

      h4 {
        padding: 1rem 0rem;
        font-size: 1.1rem;
      }

      input {
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem 1rem;
        outline: none;
        outline: $color1;
        border: lightgrey 0.7px solid;
        border-radius: 2px;
      }
      #titleError {
        color: red;
        font-size: 0.8rem;
        padding: 0.5rem 0rem;
      }

      ul {
        margin-left: 0.5rem;
        list-style: circle;
        li {
          padding: 0.4rem 0rem;
          font-size: 0.87rem;
          font-weight: lighter;
        }
      }
      .CancelOrNext {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        #cancel {
          color: $color1;
          font-size: 1rem;
          background: none;
          padding: 0.5rem 1.5rem;
          border-radius: 15px;
          border: 0.6px solid $color1;
          cursor: pointer;
          &:hover {
            background: rgb(235, 235, 235);
          }
        }
        #nextSkills {
          margin-left: 1rem;
          color: $color1;
          font-size: 1rem;
          background: lightgrey;
          color: gray;
          padding: 0.5rem 1.5rem;
          border-radius: 15px;
          border: 0.6px solid gray;
          cursor: not-allowed;
          pointer-events: none;
        }
      }

      // Post Skills CSS
      .skillSearch {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        outline: $color1;
        border: lightgrey 0.7px solid;
        border-radius: 8px;
        i {
          cursor: pointer;
          margin-left: 1rem;
          color: $darktext;
        }
        input {
          border: none;
        }
      }

      // Selected Skills
      .selectedSkills {
        padding: 1rem 0rem;
        width: 100%;
        ul {
          display: flex;
          flex-direction: row;
          width: 100%;
          list-style: none;
          li {
            width: fit-content;
            font-size: 0.8rem;
            background: $color1;
            color: white;
            padding: 0.4rem 1rem;
            border-radius: 15px;
            border: 0.6px solid gray;
            cursor: pointer;
          }
          i {
            margin-left: 0.5rem;
            font-size: 0.5rem;
          }
        }
      }
      select {
        width: 100%;
        padding: 0.5rem 1rem;
        background: transparent;
        border: none;
        font-size: 1rem;
        outline: none;
        outline: $color1;
        border: lightgrey 0.7px solid;
        border-radius: 10px;
      }
      span {
        margin-left: 0.5rem;
        color: $lightColor;
      }
      #SkillsUnderCategory {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        li {
          margin-bottom: 1rem;
          width: fit-content;
          font-size: 0.8rem;
          background: rgb(127, 214, 127);
          color: white;
          padding: 0.5rem;
          border-radius: 10px;
          border: none;
          cursor: pointer;
        }
      }
    }
  }
}

.postJob-detail-skills {
  margin-top: 4.5rem;
  width: 100%;
  background: whitesmoke;
  padding: 2.5rem 10rem;

  .detail-skills-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    border: 1.25px solid lightgrey;
    border-radius: 15px;
    background: $color1;

    .detail-progress-section {
      width: 50%;
      height: 100%;
      padding: 1.5rem;
      background: $color1;
      display: flex;
      flex-direction: column;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      #current {
        color: lightgreen;
      }
      .progressBar {
        width: 100%;
        progress {
          border-radius: 10px;
          width: 100%;
          padding: 0;
          border: none;
          background: #104880;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        progress::-webkit-progress-bar {
          border-radius: 10px;
          width: 100%;
          padding: 0;
          border: none;
          background: #104880;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        progress::-moz-progress-bar {
          border-radius: 10px;
          width: 100%;
          padding: 0;
          border: none;
          background: #104880;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
        progress::-webkit-progress-value {
          background: lightgreen;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          height: 100%;
          border: none;
        }
        progress::-moz-progress-bar {
          background: lightgreen;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          height: 100%;
          border: none;
        }
        ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding-top: 0.3rem;
          li {
            color: white;
            font-size: 0.9rem;
          }
        }
      }
      .title-card-intro {
        h2 {
          padding: 6rem 0rem 1rem 0rem;
          color: white;
          font-size: 2.3rem;
        }
        p {
          color: white;
          font-size: 0.95rem;
        }
      }
    }
    .detail-input-section {
      width: 50%;
      height: 100%;
      padding: 2rem;
      background: white;
      display: flex;
      flex-direction: column;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      justify-content: center;
      align-items: flex-start;
      h3 {
        font-size: 1.3rem;
        padding: 1rem 0rem;
      }

      h4 {
        padding: 1rem 0rem;
        font-size: 1.1rem;
      }

      input {
        width: 100%;
        height: 2.5rem;
        padding: 0.5rem 1rem;
        outline: none;
        outline: $color1;
        border: lightgrey 0.7px solid;
        border-radius: 2px;
      }
      ul {
        margin-left: 0.5rem;
        list-style: circle;
        li {
          padding: 0.4rem 0rem;
          font-size: 0.87rem;
          font-weight: lighter;
        }
      }
      .CancelOrNext {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        #cancel {
          color: $color1;
          font-size: 1rem;
          background: none;
          padding: 0.5rem 1.5rem;
          border-radius: 15px;
          border: 0.6px solid $color1;
          cursor: pointer;
          &:hover {
            background: rgb(235, 235, 235);
          }
        }
        #nextScope {
          margin-left: 1rem;
          color: $color1;
          font-size: 1rem;
          background: lightgrey;
          color: gray;
          padding: 0.5rem 1.5rem;
          border-radius: 15px;
          border: 0.6px solid gray;
          cursor: not-allowed;
          pointer-events: none;
        }
      }

      // Post Skills CSS
      .skillSearch {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        outline: $color1;
        border: lightgrey 0.7px solid;
        border-radius: 8px;
        i {
          cursor: pointer;
          margin-left: 1rem;
          color: $darktext;
        }
        input {
          border: none;
          border-radius: 15px;
        }
        #enterSkill {
          border: none;
          color: $lightColor;
          cursor: pointer;
          font-size: 1rem;
          margin-right: 1rem;
          background: transparent;
        }
      }

      // Selected Skills
      #selectedSkills {
        padding: 1rem 0rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        label {
          width: fit-content;
          font-size: 0.8rem;
          background: $color1;
          color: white;
          padding: 0.4rem 1rem;
          border-radius: 15px;
          border: 0.6px solid gray;
          cursor: pointer;
          margin: 0.4rem;
        }
      }
      select {
        width: 100%;
        padding: 0.5rem 1rem;
        background: transparent;
        border: none;
        font-size: 1rem;
        outline: none;
        outline: $color1;
        border: lightgrey 0.7px solid;
        border-radius: 10px;
      }
      span {
        margin-left: 0.5rem;
        color: $lightColor;
      }
      // under input
      .CategorySpecialtyContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        ul {
          width: 100%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          li {
            width: fit-content;
            font-size: 0.8rem;
            background: rgb(134, 221, 134);
            color: white;
            margin: 0.4rem;
            padding: 0.4rem 1rem;
            border-radius: 15px;
            border: none;
            cursor: pointer;
            &:hover {
              background: rgb(113, 197, 113);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 754px) {
  .postJob-detail {
    margin-top: 3rem;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 0rem;

    .detail-container {
      width: 100%;
      height: 90vh;
      display: flex;
      flex-direction: column;
      border: 1.25px solid lightgrey;
      border-radius: 15px;
      background: white;

      .detail-progress-section {
        width: fit-content;
        height: 100%;
        padding: 1.5rem;
        background: $color1;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        #current {
          color: lightgreen;
        }
        .progressBar {
          width: 100%;
          progress {
            border-radius: 10px;
            width: 100%;
            padding: 0;
            border: none;
            background: #104880;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
          progress::-webkit-progress-value {
            background: lightgreen;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            height: 100%;
            border: none;
          }
          progress::-moz-progress-bar {
            background: lightgreen;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            height: 100%;
            border: none;
          }
          ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 0.3rem;
            li {
              color: white;
              font-size: 0.9rem;
            }
          }
        }
        .title-card-intro {
          h2 {
            padding: 3rem 0rem 1rem 0rem;
            color: white;
            font-size: 2.3rem;
          }
          p {
            color: white;
            font-size: 0.95rem;
          }
        }
      }
      .detail-input-section {
        width: 100%;
        height: 100%;
        padding: 2rem;
        background: white;
        display: flex;
        flex-direction: column;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        justify-content: center;
        align-items: flex-start;
        h3 {
          font-size: 1.3rem;
          padding: 1rem 0rem;
        }

        h4 {
          padding: 1rem 0rem;
          font-size: 1.1rem;
        }

        input {
          width: 100%;
          height: 2.5rem;
          padding: 0.5rem 1rem;
          outline: none;
          outline: $color1;
          border: lightgrey 0.7px solid;
          border-radius: 2px;
        }
        #titleError {
          color: red;
          font-size: 0.7rem;
          padding: 0.5rem 0rem;
        }

        ul {
          margin-left: 0.5rem;
          list-style: circle;
          li {
            padding: 0.4rem 0rem;
            font-size: 0.87rem;
            font-weight: lighter;
          }
        }

        .CancelOrNext {
          margin-top: 2rem;
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: flex-end;
          align-items: center;
          #cancel {
            color: $color1;
            font-size: 1rem;
            background: none;
            padding: 0.5rem 1.5rem;
            border-radius: 15px;
            border: 0.6px solid $color1;
            cursor: pointer;
            &:hover {
              background: rgb(235, 235, 235);
            }
          }
          #nextSkills {
            margin-left: 1rem;
            color: $color1;
            font-size: 1rem;
            background: lightgrey;
            color: gray;
            padding: 0.5rem 1.5rem;
            border-radius: 15px;
            border: 0.6px solid gray;
            cursor: not-allowed;
            pointer-events: none;
          }
        }
      }
    }
  }
  .postJob-detail-skills {
    margin-top: 3rem;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 0rem;

    .detail-skills-container {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      border: 1.25px solid lightgrey;
      border-radius: 0;
      background: $color1;

      .detail-progress-section {
        width: 100%;
        height: 100%;
        padding: 1.5rem;
        background: $color1;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        #current {
          color: lightgreen;
        }
        .progressBar {
          width: 100%;
          progress {
            border-radius: 10px;
            width: 100%;
            padding: 0;
            border: none;
            background: #104880;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
          progress::-webkit-progress-bar {
            border-radius: 10px;
            width: 100%;
            padding: 0;
            border: none;
            background: #104880;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
          progress::-moz-progress-bar {
            border-radius: 10px;
            width: 100%;
            padding: 0;
            border: none;
            background: #104880;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
          }
          progress::-webkit-progress-value {
            background: lightgreen;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            height: 100%;
            border: none;
          }
          progress::-moz-progress-bar {
            background: lightgreen;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            height: 100%;
            border: none;
          }
          ul {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding-top: 0.3rem;
            li {
              color: white;
              font-size: 0.9rem;
            }
          }
        }
        .title-card-intro {
          h2 {
            padding: 3rem 0rem 1rem 0rem;
            color: white;
            font-size: 2.3rem;
          }
          p {
            color: white;
            font-size: 0.95rem;
          }
        }
      }
      .detail-input-section {
        width: 100%;
        height: 100%;
        padding: 2rem;
        background: white;
        display: flex;
        flex-direction: column;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        justify-content: center;
        align-items: flex-start;
        h3 {
          font-size: 1.3rem;
          padding: 1rem 0rem;
        }

        h4 {
          padding: 1rem 0rem;
          font-size: 1.1rem;
        }

        input {
          width: 100%;
          height: 2.5rem;
          padding: 0.5rem 1rem;
          outline: none;
          outline: $color1;
          border: lightgrey 0.7px solid;
          border-radius: 2px;
        }
        ul {
          margin-left: 0.5rem;
          list-style: circle;
          li {
            padding: 0.4rem 0rem;
            font-size: 0.87rem;
            font-weight: lighter;
          }
        }
        .CancelOrNext {
          margin-top: 2rem;
          display: flex;
          flex-direction: row;
          width: 100%;
          justify-content: flex-end;
          align-items: center;
          #cancel {
            color: $color1;
            font-size: 1rem;
            background: none;
            padding: 0.5rem 1.5rem;
            border-radius: 15px;
            border: 0.6px solid $color1;
            cursor: pointer;
            &:hover {
              background: rgb(235, 235, 235);
            }
          }
          #nextSkills {
            margin-left: 1rem;
            color: $color1;
            font-size: 1rem;
            background: lightgrey;
            color: gray;
            padding: 0.5rem 1.5rem;
            border-radius: 15px;
            border: 0.6px solid gray;
            cursor: not-allowed;
            pointer-events: none;
          }
        }

        // Post Skills CSS
        .skillSearch {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          outline: $color1;
          border: lightgrey 0.7px solid;
          border-radius: 8px;
          i {
            cursor: pointer;
            margin-left: 1rem;
            color: $darktext;
          }
          input {
            border-radius: 8px;
            border: none;
          }
        }

        // Selected Skills
        .selectedSkills {
          width: 100%;
          ul {
            list-style: none;
            display: flexbox;
            flex-direction: row;
            flex-wrap: wrap;
            li {
              display: flex;
              flex-direction: row;
              align-items: center;
              margin: 0rem 0.5rem 1rem 0rem;
              width: fit-content;
              font-size: 0.8rem;
              background: $lightColor;
              color: white;
              padding: 0.5rem;
              border-radius: 10px;
              border: none;
              cursor: pointer;
            }
          }
        }
        select {
          width: 100%;
          padding: 0.5rem 1rem;
          background: transparent;
          border: none;
          font-size: 1rem;
          outline: none;
          outline: $color1;
          border: lightgrey 0.7px solid;
          border-radius: 10px;
        }
        span {
          margin-left: 0.5rem;
          color: $lightColor;
        }

        .SkillsUnderCategory {
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          li {
            margin: 0rem 0.5rem 1rem 0rem;
            width: fit-content;
            font-size: 0.8rem;
            background: rgb(127, 214, 127);
            color: white;
            padding: 0.5rem;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            i {
              margin-left: 0.2rem;
              font-size: 0.5rem;
            }
          }
        }
      }
    }
  }
}
