$color1: rgb(34, 149, 184);
$color2: rgb(34, 124, 184);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  animation: opening 2.5s ease-in-out;
}
body {
  overflow-x: hidden;
}
/*Scrollbar fun*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
/* ANIMATIONS*/
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
