/*GLOBAL COLORS */
$color1: rgb(34, 129, 184);
$color2: #001f3f;
$color3: rgb(148, 182, 245);
/* STARTING INTROS */
.user-intro {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  .user-intro-title {
    opacity: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    h3 {
      padding-right: 4px;
      font-size: 4rem;
    }
    span {
      color: $color3;
    }
  }
  .description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem;
    .money,
    .experience,
    .money-back {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      margin: 2rem;
      img {
        width: 4rem;
        height: 4rem;
        padding-right: 1rem;
      }
      p {
        font-size: 2rem;
        font-weight: bolder;
      }
      span {
        color: $color1;
      }
    }
  }
  button {
    padding: 0.5rem;
    a {
      text-decoration: none;
      color: #181818;
    }
    cursor: pointer;
    min-width: 30%;
    height: 50px;
    font-size: 1.4rem;
    background: white;
    border: #181818 4px solid;
    border-radius: 5px;
  }
  button:hover {
    transition: all 0.7s ease;
    padding: 0.5rem;
    a {
      transition: all 0.7s ease;
      text-decoration: none;
      color: $color1;
    }
    cursor: pointer;
    min-width: 30%;
    height: 50px;
    font-size: 1.4rem;
    background: white;
    border: $color1 4px solid;
    border-radius: 5px;
  }
}
.image-gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
  .image {
    position: relative;
    width: 26.21rem;
    height: 19rem;
    img {
      filter: blur(2px);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    img:hover {
      transition: all 1s ease;
      filter: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .image-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white 5px solid;
    padding: 1rem;
    p {
      font-size: 2rem;
      font-weight: bold;
      color: white;
    }
  }
}
.freelance-intro {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  .freelance-intro-title {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 2rem;
      border: 5px solid $color3;
      padding: 1rem;
    }
    h3 {
      text-align: center;
      font-size: 4rem;
    }
    span {
      color: $color1;
    }
  }
  .freelance-intro-image {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 30rem;
      filter: blur(4px);
    }
    .image-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: white 3px solid;
      padding: 1rem;
      h4 {
        font-size: 4rem;
        color: white;
      }
    }
  }
  .description {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      width: 5rem;
      height: 5em;
    }
    p {
      font-size: 1.7rem;
      font-weight: bolder;
    }
    span {
      color: $color1;
    }
    .no-contract,
    .small-fees,
    .network,
    .save-money {
      text-align: center;
      padding: 1rem;
      margin: 2rem;
    }
  }
  button {
    padding: 0.5rem;
    a {
      text-decoration: none;
      color: #181818;
    }
    cursor: pointer;
    min-width: 30%;
    height: 50px;
    font-size: 1.4rem;
    background: white;
    border: #181818 4px solid;
    border-radius: 5px;
    margin: 2rem;
  }
  button:hover {
    transition: all 0.7s ease;
    padding: 0.5rem;
    a {
      transition: all 0.7s ease;
      text-decoration: none;
      color: $color1;
    }
    cursor: pointer;
    min-width: 30%;
    height: 50px;
    font-size: 1.4rem;
    background: white;
    border: $color1 4px solid;
    border-radius: 5px;
    margin: 2rem;
  }
}
/* ENDING OF THE INTROS */
/* Service Section */
.service-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: $color3;
  padding: 2rem;
  .container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .website,
  .mobile-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 3rem;
    h3 {
      text-decoration: underline;
      font-size: 3rem;
    }
    .image-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin: 1rem;
      border-radius: 15px;
      padding: 1rem;
      background: rgba($color: #001f3f, $alpha: 0.7);
      .image {
        width: 10rem;
        img {
          border-radius: 15px;
          width: 100%;
          object-fit: cover;
        }
      }
      .text {
        width: 50%;
        text-align: center;
        h3 {
          text-decoration: none;
          color: white;
          font-size: 1.5rem;
        }
      }
    }
  }
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    padding: 0.5rem;
    h2 {
      font-size: 3.4rem;
    }
  }
}
/* About SECTION */
.about-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  .about {
    width: 90%;
  }
  h4 {
    font-size: 3.1rem;
  }
  span {
    color: $color3;
  }
  .answer {
    padding: 1rem 0rem;
    p {
      font-size: 1.3rem;
    }
  }
}

/* REVIEW SECTION*/
.review-section {
  width: 100%;
  height: fit-content;
  background: $color3;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: white 2px solid;
  h2 {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    color: white;
    font-size: 4rem;
  }
  .review {
    margin: 2rem;
    width: 70%;
    height: fit-content;
    padding: 0.5rem;
    background: rgba($color: #001f3f, $alpha: 0.5);
    border-radius: 10px;
    border: white 3px solid;
    .comment {
      margin: 0.5rem;
      p {
        font-size: 1.3rem;
        color: white;
      }
    }
    .review-info {
      display: flex;
      flex-direction: row;
      align-items: center;
      .profile-pic {
        img {
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          object-fit: cover;
          margin: 0.5rem;
          border: 3px white solid;
        }
      }
      .profile-info {
        p {
          color: white;
          font-size: 1.2rem;
        }
        display: flex;
        flex-direction: column;
      }
    }
  }
}
