/*GLOBAL COLORS */
$color1: rgb(34, 129, 184);
$color2: rgb(29, 80, 175);
$color3: rgb(148, 182, 245);
/* STARTING INTROS */
.user-intro,
.freelance-intro {
  width: 100%;
  display: flex;
  padding: 1rem 0rem;
  justify-content: space-around;
  .user-intro-image,
  .freelance-intro-image {
    width: 40%;
    height: 26rem;
    display: flex;
    align-items: center;
    margin: 0rem 1rem;
    justify-content: center;
    img {
      width: 100%;
      height: fit-content;
      object-fit: cover;
      border: $color2 4px solid;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
  }
  .user-intro-title,
  .freelance-intro-title {
    width: 60%;
    height: 25rem;
    background: $color3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    h3 {
      font-size: 2.4rem;
      padding: 2rem;
    }
    button {
      a {
        text-decoration: none;
        color: #181818;
      }
      cursor: pointer;
      min-width: 30%;
      height: 40px;
      font-size: 1.4rem;
      background: white;
      border: #181818 3px solid;
      border-radius: 5px;
      margin-top: 1rem;
    }
    button:hover {
      a {
        text-decoration: none;
        color: $color2;
      }
      cursor: pointer;
      min-width: 30%;
      height: 40px;
      font-size: 1.4rem;
      background: white;
      border: $color2 3px solid;
      border-radius: 5px;
      margin-top: 1rem;
    }
  }
  .description {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    img {
      margin-bottom: 1.4rem;
      margin-right: 3px;
      width: 3rem;
      height: 3rem;
    }
    p {
      margin-right: 1.5rem;
      font-size: 1rem;
      font-weight: bolder;
    }
  }
}
.user-intro {
  .user-intro-title {
    border: lightgray 3px solid;
  }
}
.freelance-intro {
  flex-direction: row-reverse;
  .freelance-intro-image {
    img {
      border: $color3 4px solid;
    }
  }
  .freelance-intro-title {
    background: lightgray;
    border: black 3px solid;
  }
}
/* ENDING OF THE INTROS */

/* JOBS SECTION */
.jobs {
  width: 100%;
  height: fit-content;
  background: $color2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  .coding {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .accounting {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .designing {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .repairing {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .school-work {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .more {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .others {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
}

/* REVIEW SECTION*/
.review-section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
