/*GLOBAL COLORS */
$color1: rgb(34, 129, 184);
$color2: #001f3f;
$color3: rgb(148, 182, 245);
/* STARTING INTROS */
.user-intro {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  .user-intro-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    h3 {
      padding-right: 4px;
      font-size: 4rem;
    }
    span {
      color: $color3;
    }
  }
  .description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem;
    .money,
    .experience,
    .money-back {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 2rem;
      img {
        width: 4rem;
        height: 4rem;
        padding-right: 1rem;
      }
      p {
        font-size: 2rem;
      }
      span {
        color: $color3;
      }
    }
  }
  button {
    padding: 0.5rem;
    a {
      text-decoration: none;
      color: #181818;
    }
    cursor: pointer;
    min-width: 30%;
    height: 50px;
    font-size: 1.4rem;
    background: white;
    border: #181818 4px solid;
    border-radius: 5px;
  }
  button:hover {
    transition: all 0.7s ease;
    padding: 0.5rem;
    a {
      transition: all 0.7s ease;
      text-decoration: none;
      color: $color1;
    }
    cursor: pointer;
    min-width: 30%;
    height: 50px;
    font-size: 1.4rem;
    background: white;
    border: $color1 4px solid;
    border-radius: 5px;
  }
}
.image-gallery {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
  .image {
    position: relative;
    width: 26.21rem;
    height: 19rem;
    img {
      filter: blur(2px);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    img:hover {
      transition: all 1s ease;
      filter: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .image-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: white 5px solid;
    padding: 1rem;
    p {
      font-size: 2rem;
      font-weight: bold;
      color: white;
    }
  }
}
.freelance-intro {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  .freelance-intro-title {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 2rem;
      border: 5px solid $color3;
      padding: 1rem;
    }
    h3 {
      text-align: center;
      font-size: 4rem;
    }
    span {
      color: $color1;
    }
  }
  .freelance-intro-image {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 30rem;
      filter: blur(4px);
    }
    .image-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: white 3px solid;
      padding: 1rem;
      h4 {
        font-size: 4rem;
        color: white;
      }
    }
  }
  .description {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    img {
      width: 5rem;
      height: 5em;
    }
    p {
      font-size: 1.7rem;
      font-weight: bolder;
    }
    span {
      color: $color1;
    }
    .no-contract,
    .small-fees,
    .network,
    .save-money {
      text-align: center;
      padding: 1rem;
      margin: 2rem;
    }
  }
  button {
    padding: 0.5rem;
    a {
      text-decoration: none;
      color: #181818;
    }
    cursor: pointer;
    min-width: 30%;
    height: 50px;
    font-size: 1.4rem;
    background: white;
    border: #181818 4px solid;
    border-radius: 5px;
    margin: 2rem;
  }
  button:hover {
    transition: all 0.7s ease;
    padding: 0.5rem;
    a {
      transition: all 0.7s ease;
      text-decoration: none;
      color: $color1;
    }
    cursor: pointer;
    min-width: 30%;
    height: 50px;
    font-size: 1.4rem;
    background: white;
    border: $color1 4px solid;
    border-radius: 5px;
    margin: 2rem;
  }
}
/* ENDING OF THE INTROS */

/* JOBS SECTION */
.jobs {
  width: 100%;
  height: fit-content;
  background: $color2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  .coding {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .accounting {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .designing {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .repairing {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .school-work {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .more {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
  .others {
    padding: 1rem;
    margin: 1rem;
    background: lightgreen;
  }
}

/* REVIEW SECTION*/
.review-section {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
