$color1: #0a345e;
$lightColor: #054e97;
$darktext: rgb(121, 121, 121);
/*Header Section */
a {
  text-decoration: none;
}
header {
  position: fixed;
  top: 0;
  bottom: 0;
  background: white;
  height: fit-content;
  width: 100%;
}
.header-container {
  margin: 0rem 1.5rem;
  border-bottom: 1.5px lightgrey solid;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  .logo {
    margin: 0rem 2rem;
    cursor: pointer;
    grid: logo;
    margin: 1rem;
    h3 {
      font-family: "Archivo Black", sans-serif;
      color: $darktext;
      font-size: 2rem;
    }
    span {
      font-size: 2rem;
      color: $color1;
    }
  }
  .links {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: stretch;
      li {
        margin: 0rem 15px;
        color: $darktext;
        list-style: none;
        text-decoration: none;
        cursor: pointer;
        &:hover {
          color: $lightColor;
        }
        i {
          margin-left: 5px;
        }
      }
    }
  }
  .login {
    button {
      cursor: pointer;
      font-size: 1.2rem;
      color: $darktext;
      border: none;
      background: none;
      margin: 0rem 0.5rem;
      &:hover {
        color: $lightColor;
      }
    }
    .sign-up-btn {
      padding: 0.4rem 1.3rem;
      border-radius: 25px;
      background: $lightColor;
      color: white;
      &:hover {
        background-color: $color1;
        color: white;
      }
    }
  }
}
.client-pulldown,
.freelance-pulldown,
.ezwork-pulldown {
  width: 100%;
  background: white;
  display: none;
  padding: 2rem;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.categories {
  padding: 1rem;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    a {
      cursor: pointer;
      text-decoration: none;
      list-style: none;
      li {
        color: $darktext;
        font-size: 1.1rem;
        &:hover {
          color: $lightColor;
        }
      }
    }
  }
}
/* Header Section Ends */
.intro-container {
  margin-top: 5.5rem;
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .intro-title {
    width: 50%;
    h2 {
      color: $lightColor;
      font-size: 3.8rem;
    }
    h3 {
      width: 70%;
      color: $darktext;
      font-size: 1.65rem;
      font-weight: lighter;
    }
  }
  .intro-image {
    margin: 1rem;
    img {
      object-fit: cover;
      width: 27rem;
      height: 27rem;
      border-radius: 50%;
    }
  }
  button {
    cursor: pointer;
    font-size: 1rem;
    color: white;
    border: none;
    background: $lightColor;
    padding: 0.4rem 1.3rem;
    margin: 1rem 0.5rem;
    border-radius: 25px;
    &:hover {
      background: #054688;
    }
  }
  .find-work-btn {
    padding: 0.4rem 1.3rem;
    border: 2px solid $lightColor;
    border-radius: 25px;
    background: transparent;
    color: $lightColor;
    &:hover {
      background-color: rgba($color: $lightColor, $alpha: 0.1);
    }
  }
}
.clients {
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .clients-container {
    width: 95%;
    height: 95%;
    border-radius: 25px;
    background-image: url("/Image/clients-container-bgImage.jpg");
    background-size: cover;
    background-position: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
    #for-client {
      width: 100%;
      text-align: start;
      font-size: 1.5rem;
      margin: 1rem 0rem 1rem 2rem;
    }
    #description-for-client {
      width: 30%;
      text-align: start;
      font-size: 1.35rem;
      margin: 1rem 0rem 0rem 2rem;
    }
    h2 {
      font-family: "Kaisei Tokumin", serif;
      width: 40%;
      margin: 2rem 0rem 1rem 2rem;
      text-align: start;
      font-size: 4rem;
    }
    .card-container {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 2rem 0rem 0rem 0rem;
      .card {
        h4 {
          font-size: 1.75rem;
          margin: 0rem 3rem 2rem 0rem;
        }
        p {
          font-size: 1.25rem;
        }
        margin: 1rem;
        width: 30%;
        border-radius: 25px;
        padding: 1.5rem;
        background: $lightColor;
        cursor: pointer;
        &:hover {
          transition: all 0.3s ease;
          background: white;
          color: $color1;
        }
      }
    }
  }
}
.skills {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  .skills-container {
    width: 95%;
    height: 95%;
    padding: 2rem 0rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    .skills-tree {
      margin-left: 4rem;
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
      h3 {
        width: 95%;
        color: rgb(41, 39, 39);
        font-weight: bold;
        font-size: 4.3rem;
        margin-bottom: 0.5rem;
      }
      a {
        font-weight: bolder;
        width: fit-content;
        margin-bottom: 0.7rem;
        color: $darktext;
        font-size: 1.8rem;
        &:hover {
          color: $color1;
        }
      }
      .current {
        color: $lightColor;
      }
    }
    .skills-result {
      width: 50%;
      display: flex;
      flex-direction: column;
      .image-container {
        display: flex;
        width: 100%;
        height: 30%;
        img {
          border-radius: 25px;
          object-fit: cover;
          width: 60%;
          height: 60%;
        }
      }
    }
  }
  .hide {
    display: none;
  }
  .show {
    display: block;
  }
}
.talent-section {
  p {
    font-family: "Kaisei Tokumin", serif;
    color: white;
    font-size: 1.25rem;
  }
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .talent-container {
    width: 95%;
    height: 95%;
    background: #49af7c;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    .image-card {
      width: 50%;
      img {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 100%;
        height: 100%;
        object-position: bottom;
        object-fit: cover;
      }
    }
    .text-card {
      width: 50%;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 2rem;
      #card-title-name {
        font-size: 1.5rem;
      }
      #card-text {
        width: 70%;
      }
      h2 {
        font-size: 4rem;
        color: white;
        font-family: "Kaisei Tokumin", serif;
        width: 60%;
        margin: 1.2rem 0rem;
      }
      .card-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        margin-top: 4.5rem;
        border-top: 0.75px solid lightgray;
        .card {
          width: 30%;
          margin: 0.5rem 1rem 2rem 0rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }
      }
    }
    button {
      cursor: pointer;
      width: 45%;
      border-radius: 25px;
      border: none;
      background: white;
      color: #49af7c;
      font-size: 1.25rem;
      padding: 0.3rem;
      &:hover {
        background: rgb(226, 225, 225);
      }
    }
  }
}
.reviews {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  .reviews-container {
    width: 95%;
    height: 95%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card1 {
      width: 100%;
      h2 {
        font-family: "Kaisei Tokumin", serif;
        font-size: 4rem;
        color: rgb(46, 46, 46);
      }
    }
    .card {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
    .card2,
    .card3,
    .card4 {
      width: 65%;
      display: flex;
    }
    .review {
      width: 100%;
      height: fit-content;
      padding: 1rem;
      margin: 1rem 0rem;
      background: $lightColor;
      font-family: "Kaisei Tokumin", serif;
      font-weight: bolder;
      border-radius: 25px;
      border: white 3px solid;
      .comment {
        padding-bottom: 1rem;
        margin: 0.5rem;
        border-bottom: lightgray 0.75px solid;
        p {
          font-size: 1.3rem;
          color: white;
        }
      }
      .review-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        .profile-pic {
          img {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            object-fit: cover;
            margin: 0.5rem;
            border: 3px white solid;
          }
        }
        .profile-info {
          p {
            color: white;
            font-size: 1.2rem;
          }
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  #green-review {
    background: #49af7c;
  }
}
.ezwork-about {
  width: 100%;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .ezwork-about-container {
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: row;
    .text-section {
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      width: 50%;
      background: $lightColor;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 2rem;
      .title {
        display: flex;
        justify-content: flex-start;
        width: 80%;
        margin: 0rem 0rem 0.5rem 0rem;
        h2 {
          font-family: "Kaisei Tokumin", serif;
          font-size: 3.5rem;
          color: white;
        }
      }
      p {
        font-family: "Kaisei Tokumin", serif;
        font-size: 1.5rem;
        color: white;
      }
      .card-container {
        margin-top: 6.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        .card {
          width: 50%;
          margin: 0rem 1.5em 1rem 0rem;
          border-top: 0.75px solid lightgray;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          p {
            margin: 0.5rem 0rem;
            font-size: 1.2rem;
          }
          .star-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            p {
              margin: 0.5rem 1rem 0.5rem 0rem;
              font-size: 1.4rem;
            }
            #empty {
              color: rgb(165, 165, 165);
            }
            i {
              color: white;
            }
          }
        }
      }
    }
    .image-section {
      width: 50%;
      img {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.skills-directory {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  .popular-skills-container {
    width: 95%;
    height: 95%;
    padding: 3rem 2rem;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    .sort {
      width: 37%;
      h3 {
        cursor: pointer;
        font-size: 2.3rem;
        color: rgb(175, 175, 175);
        &:hover {
          color: $color1;
        }
      }
      .current {
        color: $lightColor;
      }
    }
  }
}
.footer {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color1;
  .footer-container {
    width: 95%;
    height: 95%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    font-size: 0.78rem;
    margin: 0rem 3rem;
    .directory-tree {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 2rem 0rem;
      h6 {
        font-size: 0.83rem;
        color: whitesmoke;
      }
      display: flex;
      flex-direction: row;
      .directory-tree-user,
      .directory-tree-talent,
      .directory-tree-resource,
      .directory-tree-ezwork {
        display: flex;
        flex-direction: column;
        margin: 0rem 10rem 0rem 0rem;
        a {
          margin: 0.5rem 0rem;
          color: white;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .social-links {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 0.8px solid lightgrey;
      border-top: 0.8px solid lightgrey;
      padding: 1rem 0rem;
      p {
        color: white;
        margin: 0rem 1rem 0rem 0rem;
      }
      a {
        border-radius: 50%;
        margin: 0.5rem;
        color: lightgray;
        border: lightgray 0.9px solid;
        i {
          border-radius: 50%;
          background: $color1;
          padding: 0.5rem;
          &:hover {
            background: $lightColor;
          }
        }
      }
    }
    .copyright-section {
      display: flex;
      padding: 1rem 0rem 2rem 0rem;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      color: whitesmoke;
      p {
        margin: 0rem 0rem 0rem 2rem;
      }
      a {
        cursor: pointer;
        color: whitesmoke;
        padding: 0rem 2rem;
      }
    }
  }
}
/* Hide and show is used for javascritp */
.hide {
  a {
    display: none;
  }
}
.show {
  display: flex;
  flex-direction: column;
  margin: 0rem 1rem;
  a {
    font-size: 1.4rem;
    color: $darktext;
    margin: 0.45rem 0rem;
    &:hover {
      color: $color1;
    }
  }
}
.show2 {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  a {
    font-size: 1.1rem;
    margin: 0.5rem;
    width: fit-content;
    border: 1px solid $darktext;
    border-radius: 25px;
    padding: 0.5rem;
    color: $darktext;
    &:hover {
      background: rgb(240, 240, 240);
    }
  }
}
