.PostAJob {
  margin-top: 4.5rem;
  width: 100%;
  background: whitesmoke;
  padding: 2.5rem 10rem;

  .PostAJobContainer {
    border: 1.25px solid lightgrey;
    border-radius: 15px;
    background: white;

    .PostAJobTitle {
      width: 100%;
      border-bottom: 1.25px solid lightgrey;
      h3 {
        font-size: 1.5rem;
        padding: 2rem;
      }
    }

    .PostAJobQuestion {
      width: 100%;
      border-bottom: 1.25px solid lightgrey;
      padding: 1.5rem 2rem;
      h4 {
        width: 100%;
        font-size: 1.1rem;
      }

      .options {
        display: flex;
        flex-direction: row;
        width: 100%;

        .optionCard {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 1.5rem 1.5rem 1.5rem 0rem;
          border: 1.25px solid lightgrey;
          border-radius: 9px;
          cursor: pointer;

          .choosen {
            padding: 0.5rem 0.5rem 0rem 0rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            i {
              font-size: 0.75rem;
              color: white;
              padding: 0.2rem;
              border-radius: 50%;
              background: white;
              border: 0.7px solid lightgrey;
            }
          }

          .option1,
          .option2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 2.5rem;
            h4 {
              font-size: 1rem;
              padding: 1rem 0rem;
            }
            p {
              font-size: 0.9rem;
              color: $darktext;
            }
          }
          &:hover {
            background: rgb(248, 246, 246);
          }
        }
      }
    }

    .PostAJobCancel0rContinue {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      padding: 2rem;

      #cancel {
        color: $color1;
        font-size: 1rem;
        background: none;
        border: none;
        cursor: pointer;
        margin: 0rem 1rem;
        &:hover {
          text-decoration: underline;
        }
      }

      #continue {
        color: gray;
        font-size: 1rem;
        background: lightgrey;
        border: none;
        cursor: not-allowed;
        padding: 0.5rem 2rem;
        border-radius: 20px;
      }
    }
  }
}
@media screen and (max-width: 754px) {
  .PostAJob {
    margin-top: 3rem;
    width: 100%;
    background: whitesmoke;
    padding: 2rem 0rem;

    .PostAJobContainer {
      width: 100%;
      border: 1.25px solid lightgrey;
      border-radius: 0;
      background: white;

      .PostAJobTitle {
        width: 100%;
        border-bottom: 1.25px solid lightgrey;
        h3 {
          font-size: 1.25rem;
          padding: 1rem;
        }
      }

      .PostAJobQuestion {
        width: 100%;
        border-bottom: 1.25px solid lightgrey;
        padding: 1.5rem 1rem;
        h4 {
          width: 100%;
          font-size: 1.1rem;
        }

        .options {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          .optionCard {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem 0rem;
            border: 1.25px solid lightgrey;
            border-radius: 9px;
            cursor: pointer;

            .choosen {
              padding: 0.5rem 0.5rem 0rem 0rem;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              width: 100%;
              i {
                font-size: 0.7rem;
                color: white;
                padding: 0.2rem;
                border-radius: 50%;
                background: white;
                border: 0.7px solid lightgrey;
              }
            }

            .option1,
            .option2 {
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 1rem;
              h4 {
                width: 100%;
                text-align: center;
                font-size: 1rem;
                padding: 1rem 0rem;
              }
              p {
                font-size: 0.9rem;
                color: $darktext;
              }
            }
            &:hover {
              background: rgb(248, 246, 246);
            }
          }
        }
      }

      .PostAJobCancel0rContinue {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        padding: 1rem;

        #cancel {
          color: $color1;
          font-size: 1rem;
          background: none;
          border: none;
          cursor: pointer;
          margin: 0rem 1rem;
          &:hover {
            text-decoration: underline;
          }
        }

        #continue {
          color: white;
          font-size: 1rem;
          background: $lightColor;
          border: none;
          cursor: pointer;
          padding: 0.5rem 2rem;
          border-radius: 20px;

          &:hover {
            background: $color1;
          }
        }
      }
    }
  }
}
