.profile {
  margin-top: 4.5rem;
  width: 100%;
  background: whitesmoke;
  padding: 2.5rem 10rem;
  .user-profile-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0rem;
    h2 {
      justify-self: flex-start;
      font-size: 2.5rem;
    }
    .quick-links {
      #quick-link-job {
        cursor: pointer;
        border-radius: 15px;
        border: none;
        background: rgb(219, 219, 219);
        font-size: 1.1rem;
        color: $color1;
        font-weight: bolder;
        padding: 0.6rem 1.5rem;
        margin-right: 0.25rem;
        border: 1px solid lightgrey;
        &:hover {
          transition: all 0.2s ease;
          background: rgb(233, 233, 233);
        }
      }
      #quick-link-market {
        cursor: pointer;
        border-radius: 15px;
        border: none;
        background: $lightColor;
        font-size: 1.1rem;
        color: white;
        font-weight: bolder;
        padding: 0.6rem 1.5rem;
        margin-left: 0.25rem;
        &:hover {
          transition: all 0.5s ease;
          background: $color1;
        }
      }
    }
  }
  .user-profile-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .user-postings {
    grid-column: 1/3;
    border: 1px solid lightgrey;
    background: white;
    border-radius: 15px;
    .title {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom: 1px solid lightgrey;
      padding: 2rem 1.5rem;
      h3 {
        font-size: 1.5rem;
      }
      span {
        color: $lightColor;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .result {
      width: 100%;
      padding: 3rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      #quick-link-job {
        cursor: pointer;
        border-radius: 15px;
        border: none;
        background: $lightColor;
        font-size: 1.1rem;
        color: white;
        max-width: fit-content;
        font-weight: bolder;
        padding: 0.6rem 1.5rem;
        margin-left: 0.25rem;
        &:hover {
          transition: all 0.5s ease;
          background: $color1;
        }
      }
      span {
        margin-top: 1rem;
      }
    }
  }
  .profile-skills {
    grid-column: 3/4;
    grid-row: 1/3;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    .profile-skills-images {
      width: 18rem;
      height: 14rem;
      border: none;
      img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        width: 100% !important;
        height: 100% !important;
      }
    }
    .profile-skills-content {
      border: lightgrey 0.7px solid;
      border-top: none;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        padding-top: 1rem;
        font-size: 0.9rem;
        color: $darktext;
      }
      h4 {
        font-size: 1.5rem;
        padding: 1rem 0rem;
      }
      button {
        margin-bottom: 1rem;
        cursor: pointer;
        border-radius: 15px;
        border: none;
        background: transparent;
        font-size: 1rem;
        color: $color1;
        font-weight: bolder;
        min-width: fit-content;
        padding: 0.6rem 1rem;
        border: 1px solid lightgrey;
        &:hover {
          transition: all 0.2s ease;
          background: rgb(233, 233, 233);
        }
      }
    }
  }
  .how-to-work {
    grid-column: 1/3;
    background: white;
    border-radius: 15px;
    border: 1px solid lightgrey;
    .htw-title {
      width: 100%;
      padding: 1.5rem;
      border-bottom: 1px solid lightgrey;
      h3 {
        width: 100%;
        font-size: 1.3rem;
      }
      span {
        color: $darktext;
        font-size: 0.9rem;
        width: 100%;
      }
    }
    .step {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1.5rem;
      border-bottom: 1px solid lightgrey;
      .step-image {
        width: 15%;
        i {
          font-size: 4rem;
          color: $lightColor;
        }
      }
      .step-content {
        width: 85%;
        h4 {
          font-size: 1.25rem;
          padding: 0.5rem 0rem;
        }
        span {
          font-size: 0.85rem;
          color: rgb(34, 34, 34);
        }
      }
    }
    .htw-questions {
      width: 100%;
      padding: 1.25rem;
      h3 {
        font-size: 1rem;
        padding: 0.5rem 0rem;
      }
      p {
        font-size: 1rem;
        color: $darktext;
        span {
          cursor: pointer;
          color: $lightColor;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
