.profile {
  margin-top: 4.5rem;
  width: 100%;
  background: whitesmoke;
  padding: 2.5rem 10rem;
  .user-profile-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 0rem;
    h2 {
      justify-self: flex-start;
      font-size: 2.5rem;
    }
    .quick-links {
      #quick-link-job {
        cursor: pointer;
        border-radius: 15px;
        border: none;
        background: rgb(233, 233, 233);
        font-size: 1.1rem;
        color: $color1;
        font-weight: bolder;
        padding: 0.6rem 1.5rem;
        margin-right: 0.25rem;
        border: 1px solid lightgrey;
        &:hover {
          transition: all 0.2s ease;
          background: rgb(219, 219, 219);
        }
      }
      #quick-link-market {
        cursor: pointer;
        border-radius: 15px;
        border: none;
        background: $lightColor;
        font-size: 1.1rem;
        color: white;
        font-weight: bolder;
        padding: 0.6rem 1.5rem;
        margin-left: 0.25rem;
        &:hover {
          transition: all 0.5s ease;
          background: $color1;
        }
      }
    }
  }
  .user-profile-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .user-postings {
    grid-column: 1/3;
    border: 1px solid lightgrey;
    background: white;
    border-radius: 15px;
    height: fit-content;
    .title {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom: 1px solid lightgrey;
      padding: 2rem 1.5rem;
      h3 {
        font-size: 1.5rem;
      }
      span {
        color: $lightColor;
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .result {
      width: 100%;
      padding: 3rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      #quick-link-job2 {
        cursor: pointer;
        border-radius: 15px;
        border: none;
        background: $lightColor;
        font-size: 1.1rem;
        color: white;
        max-width: fit-content;
        font-weight: bolder;
        padding: 0.6rem 1.5rem;
        margin-left: 0.25rem;
        &:hover {
          transition: all 0.5s ease;
          background: $color1;
        }
      }
      span {
        margin-top: 1rem;
      }
    }
    .postedJob {
      display: none;
      padding: 1.5rem;
      width: 100%;
      .jobTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        h4 {
          font-size: 1.2rem;
          color: $color1;
        }
        i {
          font-size: 0.8rem;
          color: $darktext;
          border-radius: 50%;
          border: 0.8px solid $darktext;
          padding: 0.4rem 0.6rem;
          cursor: pointer;
          &:hover {
            background: lightgray;
          }
        }
        .jobEdit {
          display: none;
          position: fixed;
          top: 50%;
          left: 58%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: white;
          width: 20%;
          padding: 0.5rem;
          border: $darktext solid 1px;
          border-radius: 8px;
          button {
            width: 40%;
            cursor: pointer;
            background: none;
            color: $darktext;
            font-size: 1rem;
            border: none;
            padding: 0.5rem;
          }
          .exit {
            i {
              font-size: 1.1rem;
              color: black;
              border: none;
              padding: 0;
              background: none;
            }
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
          }
        }
      }
      p {
        color: $darktext;
        font-size: 1rem;
      }
      #status,
      #date,
      #postedBy {
        color: $lightColor;
      }
    }
  }
  .profile-skills-container {
    grid-column: 3/4;
    grid-row: 1/3;
    .profile-skills {
      min-width: fit-content;
      height: fit-content;
      display: none;
      flex-direction: column;
      background: white;
      border-radius: 15px;
      .profile-skills-images {
        width: 19rem;
        height: fit-content;
        border-right: lightgrey 0.7px solid;
        border-left: lightgrey 0.7px solid;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        img {
          width: 100%;
          object-fit: contain;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }
      .profile-skills-content {
        border: lightgrey 0.7px solid;
        border-top: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span {
          padding-top: 0.7rem;
          font-size: 0.9rem;
          color: $darktext;
        }
        .skill-title {
          width: 105%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          h4 {
            font-size: 1.5rem;
            padding: 1rem 0rem;
          }
          i {
            font-size: 1.5rem;
            color: $lightColor;
            cursor: pointer;
            padding: 0.2rem 0.4rem;
            border-radius: 50%;
            background: lightgray;
            &:hover {
              background: rgb(199, 199, 199);
            }
          }
        }
        button {
          margin-bottom: 1rem;
          cursor: pointer;
          border-radius: 15px;
          border: none;
          background: transparent;
          font-size: 1rem;
          color: $color1;
          font-weight: bolder;
          min-width: fit-content;
          padding: 0.6rem 1rem;
          border: 1px solid lightgrey;
          &:hover {
            transition: all 0.2s ease;
            background: rgb(233, 233, 233);
          }
        }
      }
    }
  }

  .how-to-work {
    grid-column: 1/3;
    background: white;
    border-radius: 15px;
    border: 1px solid lightgrey;
    height: fit-content;
    .htw-title {
      width: 100%;
      padding: 1.5rem;
      border-bottom: 1px solid lightgrey;
      h3 {
        width: 100%;
        font-size: 1.3rem;
      }
      span {
        color: $darktext;
        font-size: 0.9rem;
        width: 100%;
      }
    }
    .step {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 1.5rem;
      border-bottom: 1px solid lightgrey;
      .step-image {
        width: 15%;
        i {
          font-size: 4rem;
          color: $lightColor;
        }
      }
      .step-content {
        width: 85%;
        h4 {
          font-size: 1.25rem;
          padding: 0.5rem 0rem;
        }
        span {
          font-size: 0.85rem;
          color: rgb(34, 34, 34);
        }
      }
    }
    .htw-questions {
      width: 100%;
      padding: 1.25rem;
      h3 {
        font-size: 1rem;
        padding: 0.5rem 0rem;
      }
      p {
        font-size: 1rem;
        color: $darktext;
        span {
          cursor: pointer;
          color: $lightColor;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .profile-categories-container {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    margin-top: 7rem;
    border: 1px solid lightgrey;
    .categories-title {
      width: 100%;
      padding: 1.5rem;
      border-bottom: 1px solid lightgrey;
      h3 {
        font-size: 1.5rem;
      }
    }
    .categoryCard {
      cursor: pointer;
      padding: 1.5rem 1rem;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      border-bottom: 1px solid lightgrey;
      svg {
        width: 15%;
      }
      p {
        margin-left: 1rem;
        width: 70%;
        text-align: start;
        font-size: 0.8rem;
      }
      i {
        width: 15%;
        font-size: 1.4rem;
        color: $lightColor;
      }
      &:hover {
        background: rgb(228, 228, 228);
      }
    }
  }
}
@media screen and (max-width: 754px) {
  .profile {
    margin-top: 3.8rem;
    width: 100%;
    background: whitesmoke;
    padding: 1rem;
    .user-profile-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0rem;
      h2 {
        width: 100%;
        margin-bottom: 1rem;
        justify-self: flex-start;
        font-size: 2.5rem;
      }
      .quick-links {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        #quick-link-job {
          cursor: pointer;
          border-radius: 15px;
          border: none;
          background: rgb(219, 219, 219);
          font-size: 1.1rem;
          color: $color1;
          font-weight: bolder;
          padding: 0.6rem 1.5rem;
          margin: 0;
          margin-bottom: 1rem;
          border: 1px solid lightgrey;
          &:hover {
            transition: all 0.2s ease;
            background: rgb(233, 233, 233);
          }
        }
        #quick-link-market {
          cursor: pointer;
          border-radius: 15px;
          border: none;
          background: $lightColor;
          font-size: 1.1rem;
          color: white;
          font-weight: bolder;
          padding: 0.6rem 1.5rem;
          margin: 0;
          &:hover {
            transition: all 0.5s ease;
            background: $color1;
          }
        }
      }
    }
    .user-profile-body {
      display: flex;
      flex-direction: column;
    }
    .user-postings {
      border: 1px solid lightgrey;
      background: white;
      border-radius: 15px;
      height: fit-content;
      .title {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom: 1px solid lightgrey;
        padding: 2rem 1.5rem;
        h3 {
          font-size: 1.5rem;
        }
        span {
          color: $lightColor;
          font-size: 0.9rem;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .result {
        width: 100%;
        padding: 3rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        #quick-link-job2 {
          cursor: pointer;
          border-radius: 15px;
          border: none;
          background: $lightColor;
          font-size: 1.1rem;
          color: white;
          max-width: fit-content;
          font-weight: bolder;
          padding: 0.6rem 1.5rem;
          margin-left: 0.25rem;
          &:hover {
            transition: all 0.5s ease;
            background: $color1;
          }
        }
        span {
          margin-top: 1rem;
        }
      }
    }
    .profile-skills-container {
      .profile-skills {
        width: 100%;
        height: fit-content;
        display: none;
        flex-direction: column;
        background: white;
        border-radius: 15px;
        .profile-skills-images {
          width: 100%;
          height: fit-content;
          border-right: lightgrey 0.7px solid;
          border-left: lightgrey 0.7px solid;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          img {
            width: 100%;
            object-fit: contain;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
          }
        }
        .profile-skills-content {
          border: lightgrey 0.7px solid;
          border-top: none;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          min-width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          span {
            padding-top: 0.7rem;
            font-size: 0.9rem;
            color: $darktext;
          }
          .skill-title {
            width: 105%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            h4 {
              font-size: 1.5rem;
              padding: 1rem 0rem;
            }
            i {
              font-size: 1.5rem;
              color: $lightColor;
              cursor: pointer;
              padding: 0.1rem 0.3rem;
              border-radius: 50%;
              background: lightgray;
            }
          }
          button {
            margin-bottom: 1rem;
            cursor: pointer;
            border-radius: 15px;
            border: none;
            background: transparent;
            font-size: 1rem;
            color: $color1;
            font-weight: bolder;
            min-width: fit-content;
            padding: 0.6rem 1rem;
            border: 1px solid lightgrey;
            &:hover {
              transition: all 0.2s ease;
              background: rgb(233, 233, 233);
            }
          }
        }
      }
    }
    .how-to-work {
      background: white;
      border-radius: 15px;
      border: 1px solid lightgrey;
      height: fit-content;
      .htw-title {
        width: 100%;
        padding: 1.5rem;
        border-bottom: 1px solid lightgrey;
        h3 {
          width: 100%;
          font-size: 1.3rem;
        }
        span {
          color: $darktext;
          font-size: 0.85rem;
          width: 100%;
        }
      }
      .step {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.5rem;
        border-bottom: 1px solid lightgrey;
        .step-image {
          width: 25%;
          i {
            font-size: 3rem;
            color: $lightColor;
          }
        }
        .step-content {
          width: 75%;
          h4 {
            font-size: 1.2rem;
            padding: 0.5rem 0rem;
          }
          span {
            font-size: 0.8rem;
            color: rgb(34, 34, 34);
          }
        }
      }
      .htw-questions {
        width: 100%;
        padding: 1.25rem;
        h3 {
          font-size: 1rem;
          padding: 0.5rem 0rem;
        }
        p {
          font-size: 1rem;
          color: $darktext;
          span {
            cursor: pointer;
            color: $lightColor;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .profile-categories-container {
      width: 100%;
      height: fit-content;
      display: flex;
      flex-direction: column;
      background: white;
      border-radius: 15px;
      margin-top: 0;
      border: 1px solid lightgrey;
      .categories-title {
        width: 100%;
        padding: 1.5rem;
        border-bottom: 1px solid lightgrey;
        h3 {
          font-size: 1.5rem;
        }
      }
      .categoryCard {
        cursor: pointer;
        padding: 1.5rem 1rem;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        border-bottom: 1px solid lightgrey;
        svg {
          width: 15%;
        }
        p {
          margin-left: 1rem;
          width: 70%;
          text-align: start;
          font-size: 0.8rem;
        }
        i {
          width: 15%;
          font-size: 1.4rem;
          color: $lightColor;
        }
        &:hover {
          background: rgb(228, 228, 228);
        }
      }
    }
  }
}
