.profile-header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .profileHeader {
    overflow: hidden;
    width: 100%;
    background: #1d4354;
    padding: 1rem 10rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo {
      a {
        text-decoration: none;
        color: white;
        font-family: "Archivo Black", sans-serif;
        font-size: 1rem;
      }
    }
    .searchBar {
      input {
        border: none;
        font-size: 1rem;
        color: white;
        border-radius: 20px;
        padding: 0.7rem 3rem 0.7rem 1rem;
        background: #2b5468;
        border: none;
        resize: none;
        outline: none;
        &:focus {
          border: none;
        }
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      li {
        padding: 0rem 0.7rem;
        color: white;
        font-size: 1.1rem;
        cursor: pointer;
        &:hover {
          color: lightgreen;
        }
      }
    }
    .guide {
      i {
        cursor: pointer;
        padding: 0rem 0.4rem;
        color: white;
        font-size: 1.2rem;
        &:hover {
          color: lightgreen;
        }
      }
    }
    .divider {
      padding: 1rem 0.5px;
      background: lightgrey;
    }
    .profileImage {
      img {
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }
    }
  }
}
// Header pulldown
.sessionCard {
  display: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background: white;
  padding: 1.5rem 0rem;
  width: 23vw;
  border-radius: 10px;
  .card {
    padding: 0.5rem 0rem;
    cursor: pointer;
    width: 100%;
    i {
      margin: 0rem 0.8rem 0rem 1.5rem;
    }
    &:hover {
      background: lightgrey;
    }
  }
  .card1 {
    display: flex;
    flex-direction: row;
    pointer-events: none;
    .image {
      img {
        margin-left: 1rem;
        width: 2rem;
        height: 2rem;
      }
    }
    .name {
      display: flex;
      flex-direction: column;
      padding: 0rem 0.5rem;
      #name {
        width: 100%;
        font-size: 1rem;
        color: $color1;
        font-weight: bolder;
      }
      #type {
        width: 100%;
        font-size: 0.8rem;
        color: $darktext;
      }
    }
  }
}
.isVisible {
  display: inline-block;
  position: fixed;
  top: 3.8rem;
  right: 10rem;
}
//Footer
.profileFooter {
  width: 100%;
  height: fit-content;
  background: white;
  padding: 1rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .profile-links {
    width: 100%;
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .links {
      ul {
        display: flex;
        flex-direction: column;
        a {
          padding: 0.3rem 0rem;
          text-decoration: none;
          font-size: 0.85rem;
          color: $darktext;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .profile-social-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0rem;
    border-top: 0.7px solid lightgrey;
    border-bottom: 0.7px solid lightgrey;
    p {
      font-size: 0.9rem;
      color: $darktext;
      margin-right: 1rem;
    }
    a {
      text-decoration: none;
      cursor: pointer;
      font-size: 1rem;
      padding: 0.3rem;
      margin: 0rem 0.5rem;
      color: rgb(105, 105, 105);
      background: rgb(235, 235, 235);
      border-radius: 50%;
      &:hover {
        transition: all.3s ease;
        background: rgb(182, 181, 181);
      }
    }
  }
  .copyright {
    width: 100%;
    padding: 1.5rem 0rem;
    text-align: center;
    font-size: 0.9rem;
    color: $darktext;
  }
}
@media screen and (max-width: 754px) {
  .profile-header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .profileHeader {
      overflow: hidden;
      width: 100%;
      background: #1d4354;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .logo {
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
          color: white;
          font-family: "Archivo Black", sans-serif;
          font-size: 1rem;
        }
      }
      .searchBar {
        display: none;
      }
      ul {
        display: none;
      }
      .guide {
        display: none;
      }
      .divider {
        display: none;
      }
      .profileImage {
        display: none;
      }
    }
  }
  //Footer
  .profileFooter {
    width: 100%;
    height: fit-content;
    background: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .profile-links {
      width: 100%;
      padding: 2rem 0rem;
      display: flex;
      flex-direction: column;
      .links {
        margin: 1rem 0rem;
        ul {
          display: flex;
          flex-direction: column;
          a {
            padding: 0.3rem 0rem;
            text-decoration: none;
            font-size: 0.85rem;
            color: $darktext;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .profile-social-links {
      display: flex;
      width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 1rem 0rem;
      border-top: 0.7px solid lightgrey;
      border-bottom: 0.7px solid lightgrey;
      p {
        font-size: 0.85rem;
        color: $darktext;
        margin-right: 1rem;
      }
      a {
        text-decoration: none;
        cursor: pointer;
        font-size: 0.85rem;
        padding: 0.3rem;
        margin: 0rem 0.5rem;
        color: rgb(105, 105, 105);
        background: rgb(235, 235, 235);
        border-radius: 50%;
        &:hover {
          transition: all.3s ease;
          background: rgb(182, 181, 181);
        }
      }
    }
    .copyright {
      width: 100%;
      padding: 1.5rem 0rem;
      text-align: center;
      font-size: 0.7rem;
      color: $darktext;
    }
  }
}
