.register-header {
  width: 100%;
  border-bottom: solid 0.7px lightgray;
  padding: 1rem;
  .register-header-container {
    border: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    .logo {
      margin-left: 1rem;
      cursor: pointer;
      h3 {
        font-family: "Archivo Black", sans-serif;
        color: rgb(78, 101, 202);
        font-size: 1.5rem;
      }
      span {
        font-size: 1.5rem;
        color: $lightColor;
      }
    }
  }
}
section {
  margin: 2.5rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .container {
    padding: 2.5rem 0rem;
    width: 40%;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    .register-container {
      width: 100%;
      padding: 0rem 3rem;
      form {
        display: flex;
        flex-direction: column;
        h3 {
          width: 100%;
          font-size: 2rem;
          text-align: center;
          margin-bottom: 1.3rem;
        }
        input {
          margin: 1rem 0rem;
          border-radius: 5px;
          padding: 0.7rem;
          border: 0.7px solid $lightColor;
        }
        #submit {
          background: $lightColor;
          color: white;
          cursor: pointer;
          font-size: 1rem;
          border-radius: 15px;
          &:hover {
            background: $color1;
          }
        }
        p {
          width: 100%;
          text-align: end;
          font-size: 0.9rem;
          cursor: pointer;
          &:hover {
            color: $color1;
            text-decoration: underline;
          }
        }
      }
    }
    .login {
      width: 100%;
      border-top: 0.8px solid lightgray;
      .login-container {
        width: 100%;
        text-align: center;
        h3 {
          color: $darktext;
          font-size: 1rem;
          font-weight: lighter;
          margin-top: 1rem;
        }
        button {
          margin: 0.8rem 0rem;
          width: 40%;
          cursor: pointer;
          background: transparent;
          color: $color1;
          padding: 0.5rem 0rem;
          font-size: 1rem;
          border-radius: 15px;
          border: solid 1.2px $color1;
          &:hover {
            background: whitesmoke;
          }
        }
      }
    }
  }
}
.register-footer {
  width: 100%;
  .register-footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $color1;
    padding: 1.2rem;
    p {
      color: white;
      padding: 1rem 0rem;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: rgb(49, 49, 199);
      }
    }
  }
}
//Media Queires
@media screen and (max-width: 754px) {
  .register-header {
    width: 100%;
    border-bottom: solid 0.7px lightgray;
    padding: 1rem;
    .register-header-container {
      border: none;
      width: 100%;
      display: flex;
      justify-content: center;
      .logo {
        margin-left: 0;
        cursor: pointer;
        h3 {
          font-family: "Archivo Black", sans-serif;
          color: rgb(78, 101, 202);
          font-size: 2rem;
        }
        span {
          font-size: 2rem;
          color: $lightColor;
        }
      }
    }
  }
  section {
    margin: 2.5rem 0rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .container {
      padding: 1rem 0rem;
      width: 100%;
      border: none;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      .register-container {
        width: 100%;
        padding: 0rem 2rem;
        h3 {
          width: 100%;
          font-size: 1.6rem;
          text-align: center;
          margin-bottom: 1.3rem;
        }
        form {
          display: flex;
          flex-direction: column;
          input {
            margin: 1rem 0rem;
            border-radius: 5px;
            padding: 0.7rem;
            border: 0.7px solid $lightColor;
          }
          #submit {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: $lightColor;
            color: white;
            cursor: pointer;
            font-size: 1rem;
            border-radius: 15px;
            &:hover {
              background: $color1;
            }
          }
        }
      }
      .login {
        width: 100%;
        border-top: 0.8px solid lightgray;
        .login-container {
          width: 100%;
          text-align: center;
          h3 {
            color: $darktext;
            font-size: 1rem;
            font-weight: lighter;
            margin-top: 1rem;
          }
          button {
            margin: 0.8rem 0rem;
            width: 40%;
            cursor: pointer;
            background: transparent;
            color: $color1;
            padding: 0.5rem 0rem;
            font-size: 1rem;
            border-radius: 15px;
            border: solid 1.2px $color1;
            &:hover {
              background: whitesmoke;
            }
          }
        }
      }
    }
  }
  .register-footer {
    width: 100%;
    .register-footer-container {
      width: 100%;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $color1;
      padding: 1.2rem;
      p {
        color: white;
        padding: 1rem 0rem;
      }
      a {
        text-decoration: none;
        color: white;
        &:hover {
          color: rgb(49, 49, 199);
        }
      }
    }
  }
}
