//Global
ul {
  list-style: none;
}

.settings {
  margin-top: 4.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: whitesmoke;
  padding: 2.5rem 10rem;

  .settings-nav {
    min-width: 25%;
    margin-right: 1rem;

    ul {
      li {
        cursor: pointer;
        padding: 1rem 0rem;
        a {
          color: black;
          i {
            padding: 0rem 1rem;
          }
        }
        &:hover {
          background: lightgrey;
        }
      }
    }
  }

  .settings-container {
    display: none;
    width: 80%;

    .settings-container-title {
      width: 100%;
      padding-bottom: 1rem;
      h2 {
        font-size: 2rem;
      }
    }

    .settings-account-container {
      background: white;
      border-radius: 15px;
      border: 1px solid lightgrey;
      margin: 1rem 0rem;

      .settings-account-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.6rem;
        background: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom: 1px solid lightgrey;
        h3 {
          font-size: 1.25rem;
        }
        i {
          cursor: pointer;
          color: $darktext;
          padding: 0.6rem;
          border-radius: 50%;
          background: transparent;
          border: 0.7px solid lightgrey;
          &:hover {
            background: rgb(226, 226, 226);
          }
        }
      }
      .settings-account-profile-image {
        width: 100%;
        display: flex;
        justify-content: center;
        border-bottom: 0.7px solid lightgrey;
        padding: 1rem 0rem;
        img {
          width: 6rem;
          height: 6rem;
        }
      }
      .settings-account-profile-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1.6rem;
        p {
          font-weight: bolder;
          font-size: 1rem;
          padding: 0.3rem 0rem;
          span {
            margin-left: 0.6rem;
            font-weight: normal;
          }
        }
      }
    }

    .settings-account-godMode {
      background: white;
      border-radius: 15px;
      border: 1px solid lightgrey;
      margin: 2rem 0rem;
      padding: 2rem;
      p {
        font-size: 1rem;
        padding-bottom: 2rem;
        span {
          font-size: 1.1rem;
        }
      }
      #becomeFreelancer {
        color: white;
        cursor: pointer;
        background: $lightColor;
        border-radius: 15px;
        border: none;
        font-size: 1.1rem;
        padding: 0.4rem 1rem;
        margin-right: 1rem;
        &:hover {
          background: $color1;
        }
      }
      #deleteAccount {
        background: transparent;
        cursor: pointer;
        color: $lightColor;
        border-radius: 15px;
        border: none;
        font-size: 1.1rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .settings-password,
  .settings-billing,
  .notification,
  .connectedServices {
    display: none;
    width: 80%;

    .settings-container-title {
      width: 100%;
      padding-bottom: 1rem;
      h2 {
        font-size: 2rem;
      }
    }
  }

  .settings-password {
    display: inline-block;
    .settings-password-container {
      background: white;
      border-radius: 15px;
      border: 1px solid lightgrey;
      margin: 1rem 0rem;
      p {
        font-size: 0.9rem;
        color: $darktext;
      }
      .settings-password-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1.6rem;
        background: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom: 1px solid lightgrey;
        h3 {
          font-size: 1.25rem;
        }
        i {
          cursor: pointer;
          color: $darktext;
          padding: 0.6rem;
          border-radius: 50%;
          background: transparent;
          border: 0.7px solid lightgrey;
          &:hover {
            background: rgb(226, 226, 226);
          }
        }
      }
      .settings-password-card2 {
        width: 100%;
        padding: 1.6rem;
      }
    }

    .settings-password-twoStep {
      background: white;
      border-radius: 15px;
      border: 1px solid lightgrey;
      margin: 1rem 0rem;
      p {
        font-size: 0.9rem;
        color: $darktext;
      }
      .settings-password-twoStep-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 1.6rem;
        background: white;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom: 1px solid lightgrey;
        h3 {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          i {
            cursor: pointer;
            color: $darktext;
            padding: 0.4rem;
            border-radius: 50%;
            background: transparent;
            border: 0.7px solid lightgrey;
            &:hover {
              background: rgb(226, 226, 226);
            }
          }
        }
        p {
          font-size: 0.9rem;
          padding-top: 1rem;
        }
      }

      .settings-password-twoStep-option {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.6rem;
        border-bottom: 1px solid lightgrey;
        h3 {
          width: 100%;
          text-align: start;
          font-size: 1.1rem;
        }
        p {
          width: 100%;
          text-align: start;
          padding-top: 1rem;
        }
        button {
          align-self: flex-end;
          width: 17%;
          color: white;
          cursor: pointer;
          background: $lightColor;
          border-radius: 15px;
          border: none;
          font-size: 1.1rem;
          padding: 0.4rem 1rem;
          margin-right: 1rem;
          &:hover {
            background: $color1;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 754px) {
  .settings {
    margin-top: 3.8rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: whitesmoke;
    padding: 2.5rem 1rem;
    .settings-nav {
      min-width: 25%;
      margin-right: 0;
      ul {
        li {
          cursor: pointer;
          padding: 1rem 0rem;
          a {
            color: black;
            i {
              padding: 0rem 1rem;
            }
          }
          &:hover {
            background: lightgrey;
          }
        }
      }
    }
    .settings-container {
      width: 100%;
      .settings-container-title {
        width: 100%;
        padding: 0.5rem;
        h2 {
          font-size: 2rem;
        }
      }
      .settings-account-container {
        background: white;
        border-radius: 15px;
        border: 1px solid lightgrey;
        margin: 1rem 0rem;
        .settings-account-card {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 1.5rem;
          background: white;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          border-bottom: 1px solid lightgrey;
          h3 {
            font-size: 1.25rem;
          }
          i {
            cursor: pointer;
            color: $darktext;
            padding: 0.5rem;
            font-size: 1rem;
            border-radius: 50%;
            background: transparent;
            border: 0.7px solid lightgrey;
            &:hover {
              background: rgb(226, 226, 226);
            }
          }
        }
        .settings-account-profile-image {
          width: 100%;
          display: flex;
          justify-content: center;
          border-bottom: 0.7px solid lightgrey;
          padding: 1rem 0rem;
          img {
            width: 6rem;
            height: 6rem;
          }
        }
        .settings-account-profile-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 1.5rem;
          p {
            font-weight: bolder;
            font-size: 0.85rem;
            padding: 0.3rem 0rem;
            span {
              margin-left: 0.4rem;
              font-weight: normal;
            }
          }
        }
      }
      .settings-account-godMode {
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 15px;
        border: 1px solid lightgrey;
        margin: 1rem 0rem;
        padding: 2rem;
        p {
          text-align: center;
          font-size: 1rem;
          padding-bottom: 2rem;
          span {
            font-size: 1.1rem;
          }
        }
        #becomeFreelancer {
          color: white;
          cursor: pointer;
          background: $lightColor;
          border-radius: 15px;
          border: none;
          font-size: 1.1rem;
          padding: 0.4rem 1rem;
          margin-right: 0;
          &:hover {
            background: $color1;
          }
        }
        #deleteAccount {
          background: transparent;
          cursor: pointer;
          color: $lightColor;
          border-radius: 15px;
          border: none;
          margin-top: 1rem;
          font-size: 1.1rem;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
