@import "global";
/*Home Page: index.html*/
@import "mainPage";
/*Login Page: index.html */
@import "login";
/*Register Page: index.html */
@import "register";

/*Profiles*/
@import "profileSkeleton";
@import "profile";
@import "settings";
@import "PostAJob";
