*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  -webkit-animation: opening 2.5s ease-in-out;
          animation: opening 2.5s ease-in-out;
}

body {
  overflow-x: hidden;
}

/*Scrollbar fun*/
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

/* ANIMATIONS*/
@-webkit-keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes opening {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0.5rem;
}

header h2 {
  font-size: 3rem;
}

header h2 a {
  text-decoration: none;
  color: black;
}

header span {
  color: #1d50af;
}

header a:hover {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #1d50af;
}

header a:hover span {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: black;
}

header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

header .nav ul li {
  font-size: 1.2rem;
  padding: 3rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header .nav ul a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

header .nav ul a:hover {
  color: #1d50af;
}

/*GLOBAL COLORS */
/* STARTING INTROS */
.user-intro,
.freelance-intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.user-intro .user-intro-image,
.user-intro .freelance-intro-image,
.freelance-intro .user-intro-image,
.freelance-intro .freelance-intro-image {
  width: 40%;
  height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-intro .user-intro-image img,
.user-intro .freelance-intro-image img,
.freelance-intro .user-intro-image img,
.freelance-intro .freelance-intro-image img {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  border: #1d50af 4px solid;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.user-intro .user-intro-title,
.user-intro .freelance-intro-title,
.freelance-intro .user-intro-title,
.freelance-intro .freelance-intro-title {
  width: 60%;
  height: 25rem;
  background: #94b6f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0rem 1rem;
  padding: 1rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.user-intro .user-intro-title h3,
.user-intro .freelance-intro-title h3,
.freelance-intro .user-intro-title h3,
.freelance-intro .freelance-intro-title h3 {
  font-size: 2.4rem;
  padding: 2rem;
}

.user-intro .user-intro-title button,
.user-intro .freelance-intro-title button,
.freelance-intro .user-intro-title button,
.freelance-intro .freelance-intro-title button {
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  cursor: pointer;
  min-width: 30%;
  height: 40px;
  font-size: 1.4rem;
  background: white;
  border: #181818 3px solid;
  border-radius: 5px;
  margin-top: 1rem;
}

.user-intro .user-intro-title button a,
.user-intro .freelance-intro-title button a,
.freelance-intro .user-intro-title button a,
.freelance-intro .freelance-intro-title button a {
  text-decoration: none;
  color: #181818;
}

.user-intro .user-intro-title button:hover,
.user-intro .freelance-intro-title button:hover,
.freelance-intro .user-intro-title button:hover,
.freelance-intro .freelance-intro-title button:hover {
  cursor: pointer;
  min-width: 30%;
  height: 40px;
  font-size: 1.4rem;
  background: white;
  border: #1d50af 3px solid;
  border-radius: 5px;
  margin-top: 1rem;
}

.user-intro .user-intro-title button:hover a,
.user-intro .freelance-intro-title button:hover a,
.freelance-intro .user-intro-title button:hover a,
.freelance-intro .freelance-intro-title button:hover a {
  text-decoration: none;
  color: #1d50af;
}

.user-intro .description,
.freelance-intro .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

.user-intro .description img,
.freelance-intro .description img {
  margin-bottom: 1.4rem;
  margin-right: 4px;
  width: 3rem;
  height: 3rem;
}

.user-intro .description p,
.freelance-intro .description p {
  margin-right: 0.8rem;
  font-size: 1rem;
  font-weight: bolder;
}

.user-intro .user-intro-title {
  border: lightgray 3px solid;
}

.freelance-intro {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.freelance-intro .freelance-intro-image img {
  border: #94b6f5 4px solid;
}

.freelance-intro .freelance-intro-title {
  background: lightgray;
  border: black 3px solid;
}

/* ENDING OF THE INTROS */
/* JOBS SECTION */
.jobs {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #1d50af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

.jobs .coding {
  padding: 1rem;
  margin: 1rem;
  background: lightgreen;
}

.jobs .accounting {
  padding: 1rem;
  margin: 1rem;
  background: lightgreen;
}

.jobs .designing {
  padding: 1rem;
  margin: 1rem;
  background: lightgreen;
}

.jobs .repairing {
  padding: 1rem;
  margin: 1rem;
  background: lightgreen;
}

.jobs .school-work {
  padding: 1rem;
  margin: 1rem;
  background: lightgreen;
}

.jobs .more {
  padding: 1rem;
  margin: 1rem;
  background: lightgreen;
}

.jobs .others {
  padding: 1rem;
  margin: 1rem;
  background: lightgreen;
}

/* REVIEW SECTION*/
.review-section {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10rem;
  margin-top: 2rem;
  /*TEXT*/
  color: white;
  background: #1d50af;
  font-size: 0.8rem;
}

/*GLOBAL COLORS */
.form-container {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2), 0px 20px 40px rgba(0, 0, 0, 0.2);
  padding: 1rem 5rem 2rem 5rem;
  border-radius: 1rem;
}

.form-container form p {
  font-size: 3rem;
  font-weight: bolder;
  text-decoration: underline;
}

.form-container form button {
  width: 12rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  background: transparent;
  border: 4px solid black;
  border-radius: 10px;
  color: black;
}

.form-container form button:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 12rem;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  background: transparent;
  border: 4px solid #1d50af;
  border-radius: 10px;
  color: #1d50af;
}

.username,
.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

.username label,
.password label {
  font-size: 1.5rem;
}

.username input,
.password input {
  width: 10rem;
  height: 30px;
  margin: 1rem 0rem 1rem 1rem;
  background: #f1efef;
}

.username .user-icon,
.username .password-icon,
.password .user-icon,
.password .password-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 30px;
  border: black 1px solid;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.username .password-icon,
.password .password-icon {
  cursor: pointer;
}

.username .password-icon:hover,
.password .password-icon:hover {
  background: lightgray;
}

.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2rem;
}

.help a {
  color: black;
  text-decoration: none;
  margin-bottom: 1rem;
}

.help a:hover {
  color: #1d50af;
  text-decoration: none;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  header .nav {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #1d50af;
  }
  header .nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #1d50af;
  }
  header .nav ul li {
    width: 100%;
    padding: 20px;
  }
  header .nav ul li a {
    color: white;
    font-size: 1rem;
  }
  header .nav ul li a:hover {
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    color: white;
    font-size: 1.3rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 5rem;
    margin-top: 2rem;
    /*TEXT*/
    color: white;
    background: #1d50af;
    font-size: 0.6rem;
  }
  .user-intro,
  .freelance-intro {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user-intro .user-intro-title,
  .user-intro .freelance-intro-title,
  .freelance-intro .user-intro-title,
  .freelance-intro .freelance-intro-title {
    width: 95%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user-intro .user-intro-title h3,
  .user-intro .freelance-intro-title h3,
  .freelance-intro .user-intro-title h3,
  .freelance-intro .freelance-intro-title h3 {
    text-align: center;
    font-size: 1.6rem;
  }
  .user-intro .user-intro-title button,
  .user-intro .freelance-intro-title button,
  .freelance-intro .user-intro-title button,
  .freelance-intro .freelance-intro-title button {
    font-size: 1rem;
  }
  .user-intro .user-intro-title button:hover,
  .user-intro .freelance-intro-title button:hover,
  .freelance-intro .user-intro-title button:hover,
  .freelance-intro .freelance-intro-title button:hover {
    font-size: 1rem;
  }
  .user-intro .user-intro-title .description,
  .user-intro .freelance-intro-title .description,
  .freelance-intro .user-intro-title .description,
  .freelance-intro .freelance-intro-title .description {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .user-intro .user-intro-title .description p,
  .user-intro .freelance-intro-title .description p,
  .freelance-intro .user-intro-title .description p,
  .freelance-intro .freelance-intro-title .description p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  .user-intro .user-intro-title .description img,
  .user-intro .freelance-intro-title .description img,
  .freelance-intro .user-intro-title .description img,
  .freelance-intro .freelance-intro-title .description img {
    margin: 0;
    padding: 0;
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .user-intro .user-intro-image,
  .user-intro .freelance-intro-image,
  .freelance-intro .user-intro-image,
  .freelance-intro .freelance-intro-image {
    width: 80%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem;
  }
  .user-intro .user-intro-image img,
  .user-intro .freelance-intro-image img,
  .freelance-intro .user-intro-image img,
  .freelance-intro .freelance-intro-image img {
    width: 100%;
    height: 17rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
/*# sourceMappingURL=style.css.map */